@model IEnumerable<Alpenstern_BackEnd_Neu.Models.Spa>

<h2>
    Alpenstern Spa Angebot
</h2>

<p>
    @Html.ActionLink("Neues Spa erstellen", "spaNeu")
</p>
<table class="table">
    <tr>
        <th>
            Bezeichnung
        </th>
        <th>
            Preis /€
        </th>
        <th>
            Einheit /h
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bezeichnung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.einheit)
        </td>
        <td>
            @Html.ActionLink("Bearbeiten", "spaBearbeiten", new { id=item.id }) |           
            @Html.ActionLink("Löschen", "spaLoeschen", new { id=item.id })
        </td>
    </tr>
}

</table>
