
@model Alpenstern_BackEnd_Neu.Models.AnkunftVM

@{
    ViewBag.Title = "Index";
}


<div>
    <div class="container padding-top">
        <div class="row text-center ankunftrahmen ankunft-checkIn">
            <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-left" id="prev"></span></div>
            <div class="col-xs-8" id="date"></div>
            <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-right" id="next"></span></div>
        </div>
    </div>
    <div class="container padding-top padding-bottom">
        <div class="row text-center ankunftrahmen ankunft-checkIn">
            <span>Check-In</span>
        </div>
    </div>
    @using (Html.BeginForm()) { 
    foreach (var item in )
    {
        <table>
            <tr>
                <td>
                    @Html.DisplayNameFor(modelItem => item.nachname)<br />
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.vorname)<br />
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.geburtsdatum)<br />
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.email)<br />
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.telefonnummer)<br />
                </td>
            </tr>
        </table>
    }
    }
    <div class="container">
        <div class="row text-center ankunft-overview">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-o ankunftrahmen-r ankunftrahmen-u">Nachname</div>
            <div class="col-xs-2 ankunftrahmen-o ankunftrahmen-u ankunftrahmen-r">Vorname</div>
            <div class="col-xs-3 ankunftrahmen-o ankunftrahmen-u">Geb.Datum</div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-o ankunftrahmen-r ankunftrahmen-u">e-Mail</div>
            <div class="col-xs-2 ankunftrahmen-o ankunftrahmen-r ankunftrahmen-u">ZimmerNummer</div>
        </div>
        @*<div class="row text-center" id="ankunft-view">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.(e => e.nachname)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.vorname)</div>
            <div class="col-xs-3 ankunftrahmen-u">@Html.DisplayFor(e => e.geburtsdatum)</div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.email)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.zimmernummer)</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.nachname)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.vorname)</div>
            <div class="col-xs-3 ankunftrahmen-u">@Html.DisplayFor(e => e.geburtsdatum)</div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.email)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.zimmernummer)</div>
        </div>
        <div class="row text-center" id="ankunft-view">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.nachname)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.vorname)</div>
            <div class="col-xs-3 ankunftrahmen-u">@Html.DisplayFor(e => e.geburtsdatum)</div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.email)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.zimmernummer)</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.nachname)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.vorname)</div>
            <div class="col-xs-3 ankunftrahmen-u">@Html.DisplayFor(e => e.geburtsdatum)</div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.email)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.zimmernummer)</div>
        </div><div class="row text-center" id="ankunft-view">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.nachname)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.vorname)</div>
            <div class="col-xs-3 ankunftrahmen-u">@Html.DisplayFor(e => e.geburtsdatum)</div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.email)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.zimmernummer)</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.nachname)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.vorname)</div>
            <div class="col-xs-3 ankunftrahmen-u">@Html.DisplayFor(e => e.geburtsdatum)</div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.email)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.zimmernummer)</div>
        </div><div class="row text-center" id="ankunft-view">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.nachname)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.vorname)</div>
            <div class="col-xs-3 ankunftrahmen-u">@Html.DisplayFor(e => e.geburtsdatum)</div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.email)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.zimmernummer)</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.nachname)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.vorname)</div>
            <div class="col-xs-3 ankunftrahmen-u">@Html.DisplayFor(e => e.geburtsdatum)</div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.email)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.zimmernummer)</div>
        </div><div class="row text-center" id="ankunft-view">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.nachname)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.vorname)</div>
            <div class="col-xs-3 ankunftrahmen-u">@Html.DisplayFor(e => e.geburtsdatum)</div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.email)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.zimmernummer)</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.nachname)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.vorname)</div>
            <div class="col-xs-3 ankunftrahmen-u">@Html.DisplayFor(e => e.geburtsdatum)</div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.email)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.zimmernummer)</div>
        </div><div class="row text-center" id="ankunft-view">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.nachname)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.vorname)</div>
            <div class="col-xs-3 ankunftrahmen-u">@Html.DisplayFor(e => e.geburtsdatum)</div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.email)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.zimmernummer)</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.nachname)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.vorname)</div>
            <div class="col-xs-3 ankunftrahmen-u">@Html.DisplayFor(e => e.geburtsdatum)</div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.email)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.zimmernummer)</div>
        </div><div class="row text-center" id="ankunft-view">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.nachname)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.vorname)</div>
            <div class="col-xs-3 ankunftrahmen-u">@Html.DisplayFor(e => e.geburtsdatum)</div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.email)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.zimmernummer)</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.nachname)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.vorname)</div>
            <div class="col-xs-3 ankunftrahmen-u">@Html.DisplayFor(e => e.geburtsdatum)</div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.email)</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@Html.DisplayFor(e => e.zimmernummer)</div>
        </div>*@
    </div>
</div>

<script src="~/Scripts/JavaScript.js"></script>




