
@model List<Alpenstern_BackEnd_Neu.Models.AnkunftVM>

@{
    ViewBag.Title = "Index";
}


<div>
    <div class="container padding-top">
        <div class="row text-center ankunftrahmen ankunft-checkIn">
            <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-left" id="prev"></span></div>
            <div class="col-xs-8" id="date"></div>
            <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-right" id="next"></span></div>
        </div>
    </div>
    <div class="container padding-top padding-bottom">
        <div class="row text-center ankunftrahmen ankunft-checkIn">
            <span>Check-In</span>
        </div>
    </div>
    <div class="container">
        <div class="row text-center ankunft-overview">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-o ankunftrahmen-r ankunftrahmen-u">Nachname</div>
            <div class="col-xs-2 ankunftrahmen-o ankunftrahmen-u ankunftrahmen-r">Vorname</div>
            <div class="col-xs-3 ankunftrahmen-o ankunftrahmen-u">Geb.Datum</div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-o ankunftrahmen-r ankunftrahmen-u">e-Mail</div>
            <div class="col-xs-2 ankunftrahmen-o ankunftrahmen-r ankunftrahmen-u">ZimmerNummer</div>
        </div>

        @foreach (var a in Model)
        {
                if (a.id % 2 == 0)
                {
                    <div class="row text-center" id="ankunft-view">
                        <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@a.nachname</div>
                        <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@a.vorname</div>
                        <div class="col-xs-3 ankunftrahmen-u">@a.geburtsdatum.ToString("dd/MM/yyyy")</div>
                        <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@a.email</div>
                        <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@a.zimmernummer</div>
                    </div>
                }
                else
                {
                    <div class="row text-center">
                        <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@a.nachname</div>
                        <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@a.vorname</div>
                        <div class="col-xs-3 ankunftrahmen-u">@a.geburtsdatum.ToString("dd/MM/yyyy")</div>
                        <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">@a.email</div>
                        <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">@a.zimmernummer</div>
                    </div>
                }
            }
       




</div>
</div>

<script src="~/Scripts/JavaScript.js"></script>




