@model Alpenstern_BackEnd_Neu.Models.DruckAnsichtVM
@{
    ViewBag.Title = "Index";
}

<div class="container " id="papierformat">
    <h2>Druckansicht</h2>
    <header>
        <div class="row">
            <div class="col-lg-8">

                <img src="~/Content/Images/alpenKlein.png" />
            </div>
            <div class="col-lg-4">
                <h4 class="schriftfett">Hotel Alpenstern**** Exzellenz</h4><br />
                Alpenstern Hotel-Betriebs-GmbH<br/>Schneeberg 3<br />A-6293 Hinterberg<br /><br />
                Ihre Ansprechperson<br />Patrick Knofel<br />Telefon: + 43 8752 5087<br />Telefax: + 43 8752 5087-99<br /><br />
                Email:<br />
                office@alpenstern.at
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-lg-8">
            @Html.DisplayFor(e => e.vorname)
            @Html.DisplayFor(e=>e.nachname)<br />
            @Html.DisplayFor(e =>e.strasse)<br />
            @Html.DisplayFor(e => e.plz)
            @Html.DisplayFor(e => e.stadt)<br /><br />
        </div>
        <div class="col-lg-8">
            <h4 class="schriftfett">Auflistung der Positionen</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4">KundenNr: @Html.DisplayFor(e => e.GastID)</div>
    </div>
    <div class="row">
        <div class="col-lg-8"> Vielen Dank für Ihren Aufenthalt  <br /><br /></div>
        <div class="col-lg-4"> Datum: @DateTime.Today.ToShortDateString() </div>
    </div>
    <div class="row">
        <div class="col-lg-8">Leistungen erbracht am: @DateTime.Today.ToShortDateString()</div>
        <div class="col-lg-4 schriftfett">Auflistungs-Nr. 2457567486 </div>
    </div>
    <div class="row schriftfett">
        <hr />
        <div class="col-lg-1"> POS </div>
        <div class="col-lg-1"> Zimmer </div>
        <div class="col-lg-2">Logis</div>
        <div class="col-lg-2">Anreise</div>
        <div class="col-lg-2">Abreise</div>
        <div class="col-lg-1">Anzahl</div>
        <div class="col-lg-1">Einzelpreis</div>
        <div class="col-lg-2">Gesamtpreis</div>
        <hr />
    </div>
    <div class="row">
        <div class="col-lg-1">1</div>
        <div class="col-lg-1">1</div>
        <div class="col-lg-2">Doppelzimmer</div>
        <div class="col-lg-2">18.10.2017</div>
        <div class="col-lg-2">25.10.2017</div>
        <div class="col-lg-1">X Nächte</div>
        <div class="col-lg-1">000,00&euro;</div>
        <div class="col-lg-2">000,0&euro;</div>
    </div>
     <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2 schriftfett">enthält MwSt</div>
        <div class="col-lg-1">0,00%</div>
        <div class="col-lg-1">000,00&euro;</div>
        <div class="col-lg-2">000,00&euro;</div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-1">0,00%</div>
        <div class="col-lg-1">000,00&euro;</div>
        <div class="col-lg-2">000,00&euro;</div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2 schriftfett">Nettopreis</div>
        <div class="col-lg-1"></div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2 schriftfett">000,00&euro;</div>
    </div>
    <hr />
    <br /><br /><br />
    <div class="row abstand">
        <div class="col-lg-4">
            Zahlungsart: hier darf stehen was immer Sie wollen <br />
            Der Bertrag wurde per beglichen<br /><br /><br /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">______________________</div>
        <div class="col-lg-6"></div>
        <div class="col-lg-3">_________________</div>
    </div>
    <div class="row schriftfett">
        <div class="col-lg-3">Datum Unterschrift Kunde</div>
        <div class="col-lg-6"></div>
        <div class="col-lg-3">Datum Unterschrift</div>
    </div>
    <hr />
<footer>
    <div class="row">
        <div class="col-lg-4 schriftfett">Sitz des Unternehmens</div>
        <div class="col-lg-4 schriftfett">Bankverbindung</div>
        <div class="col-lg-4 schriftfett">Geschäftsführung</div>
        
    </div>
    <div class="row">
        <div class="col-lg-4">Musterbetrieb</div>
        <div class="col-lg-4">SpK Musterbank</div>
        <div class="col-lg-4">Max Mustermann</div>
       
    </div>
    <div class="row">
        <div class="col-lg-4">Musterstr.</div>
        <div class="col-lg-4">IBAN: AT00 0000 0000 0000</div>
        <div class="col-lg-4">St.-Nr.: 12345/2456</div>
       
    </div>
    <div class="row">
        <div class="col-lg-4">3213 Mustersatdt</div>
        <div class="col-lg-4">BIC: KAJSKSXXX</div>
        <div class="col-lg-4">UST-IdNr.: AT12354</div>
    </div>
</footer>
    <hr />
    <div class="row abstand">
        <div class="col-lg-4">
            <button type="button" class="btn">Drucken</button>
        </div>
    </div>
    </div>