@model IEnumerable<Alpenstern_BackEnd_Neu.Models.zimmerVM>


@{
    ViewBag.Title = "Index";
}

<h2>ZimmerListe</h2>

<p>
    @Html.ActionLink("Neues Zimmer anlegen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.zimmerBezeichnung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.groesse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anzPersonen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zimmerNummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ausstattungsBezeichnung)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.zimmerBezeichnung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.groesse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anzPersonen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zimmerNummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ausstattungsBezeichnung)
            </td>
            <td>
                @Html.ActionLink("Bearbeiten", "bearbeiten", new { id = item.id }) 
            </td>
        </tr>
    }

</table>
