<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="The description of my page" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">Login</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">                               
               
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav">
                            <li><a href="/Authentifizierung/MitarbeiterAnlegen">MA Anlegen<span class="sr-only">(current)</span></a></li>
                            <li><a href="/Druckansicht/Index">Dashboard<span class="sr-only">(current)</span></a></li>
                            <li><a href="/Buchung/Index">Buchungen<span class="sr-only">(current)</span></a></li>
                            <li><a href="/Abreise/Index">Abreise<span class="sr-only">(current)</span></a></li>
                            <li><a href="/Home/Ankunft">Ankunft<span class="sr-only">(current)</span></a></li>
                            <li><a href="/Home/Rueckruf">Rückruf<span class="sr-only">(current)</span></a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Preise bearbeiten<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Menues/Edit">Restaurant<span class="sr-only">(current)</span></a></li>
                                    <li><a href="/Spa/Index">Spa - Wellness<span class="sr-only">(current)</span></a></li>                                   
                                    <li><a href="/Zimmer/zimmerListe">Zimmer<span class="sr-only">(current)</span></a></li>
                                    <li><a href="/Sortiment/Speciale">Specials<span class="sr-only">(current)</span></a></li>
                                </ul>
                            </li>
                            <li class="active"><a href="/Authentifizierung/Logout">Logout <span class="sr-only">(current)</span></a></li>
                        </ul>
                    
                    }
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p></p>
        </footer>
    </div>   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
