@model  Alpenstern_BackEnd_Neu.Models.buchungIndexVM

@{
    ViewBag.Title = "Index";
}

<h1 class="text-center"> Buchung Suchen</h1>
<div class="container">

    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="row">
                <div class="col-lg-4">
                    <h3>Nachname</h3>@Html.TextBox("nachname")
                </div>
                <div class="col col-lg-4 ">
                    <h3>Vorname</h3>@Html.TextBox("vorname")
                </div>
                <div class="col col-lg-4 ">
                    <h3>Geburtsdatum</h3>@Html.TextBox("gebdatum")
                    <input type="submit" Value="Suche" />

                </div>
            </div>

        </div>
        foreach (var kunde in Model.Liste)
        {

            <div class="row" id="row1">
                <div class="table table-bordered">
                    <div class="col-lg-4 zeilenHoehe">@Html.RadioButtonFor(m => m.radioAuswahl, kunde.id)@kunde.nachname</div>
                    <div class="col-lg-4 zeilenHoehe">@kunde.vorname</div>
                    <div class="col-lg-4 zeilenHoehe">@kunde.gebdatum</div>
                </div>
            </div>
        }
        ViewBag.kD = "";
    }
</div>

