@model Alpenstern_BackEnd_Neu.Models.PersonDatenVM
@{
    ViewBag.Title = "Persoenlichdaten";
}

<h2>Persönliche Daten</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(function () {
        var cities = $('#stadtliste');
        $('#LandListe').change(function () {
            var id = $(this).val();
            $.getJSON(url = "/Buchung/Ajax", data = { LandId: id },
                function (response) {
                    cities.empty();
                    $.each(response, function (index, item) {
                        cities.append($("<option></option>").text(item.Text).val(item.ID));
                    });
                })
        });
    });

</script>



@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <label for="vorname">Vorname</label>
            </div>
            <div class="col-lg-3 col-md-3">
                @Html.EditorFor(a => a.vorname)
            </div>
            <div class="col-lg-2 col-md-2">
                <label for="zimmerNummer">Zimmernummer</label>
            </div>
            <div class="col-lg-3 col-md-3">
                @Html.EditorFor(a => a.zimmerNummer)
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-2">
                <label for="nachname">Nachname</label>
            </div>
            <div class="col-lg-3 col-md-3">
                @Html.EditorFor(a => a.nachname)
            </div>
            <div class="col-lg-2 col-md-2">
                <label for="bezeichnung">Kategorie</label>
            </div>
            <div class="col-lg-3 col-md-3">
                @Html.EditorFor(a => a.katBezeichnung)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <label for="telefon">Telefon</label>
            </div>
            <div class="col-lg-3 col-md-3">
                @Html.EditorFor(a => a.telefonNr)
            </div>
            <div class="col-lg-2 col-md-2">
                <label for="personenAnzahl">Personenanzahl</label>
            </div>
            <div class="col-lg-3 col-md-3">
                @Html.EditorFor(a => a.personenAnzahl)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <label for="adresse">Adresse</label>
            </div>
            <div class="col-lg-3 col-md-3">
                @Html.EditorFor(a => a.strasse)
            </div>
            <div class="col-lg-2 col-md-2">
                <label for="preis">m²</label>
            </div>
            <div class="col-lg-3 col-md-3">
                @Html.EditorFor(a => a.groesse)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <label for="land">Land</label>
            </div>
            <div class="col-lg-3 col-md-3">
                @Html.DropDownListFor(m => m.land, Model.landListe, new { @id = "LandListe" })
            </div>
            <div class="col-lg-2 col-md-2">
                <label for="preis">Preis</label>
            </div>
            <div class="col-lg-3 col-md-3">
                @Html.EditorFor(a => a.preis)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <label for="ort">Ort</label>
            </div>
            <div class="col-lg-10 col-md-10">
                @Html.DropDownListFor(m => m.stadt, Model.stadtListe, new { @id = "stadtliste" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <label for="plz">Plz</label>
            </div>
            <div class="col-lg-10 col-md-10">
                @Html.EditorFor(a => a.plz)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <label for="pass">Pass.Nr.</label>
            </div>
            <div class="col-lg-10 col-md-10">
                @Html.EditorFor(a => a.reisePassNr)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <label for="gebdatum">Geb.Dat</label>
            </div>
            <div class="col-lg-10 col-md-10">
                @Html.EditorFor(a => a.gebDatum)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <label for="Email">Email</label>
            </div>
            <div class="col-lg-10 col-md-10">
                @Html.EditorFor(a => a.email)
            </div>
        </div>

        <button type="submit" value="weiter" /> Speichern
    </div>

}

